.blog-card{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px -10px;
}
.post-footer{
     
}
.post-footer img{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}