.newCart {
  /* font-family: "Nunito", Arial, Helvetica, sans-serif; */
}
.newCart-order-steps {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  background: #fafafa;
  border: 1px solid rgb(224, 218, 218);
  color: black;
}
.newCart-title {
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: left;
}
.newCart-title h3 {
  font-size: 4rem;
  font-weight: 400;
}
.newCart-title h4 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
.newCart-title p {
  font-size: smaller;
}
.newCart-product-list {
  margin-top: 30px;
  display: flex;
  gap: 2rem;
  padding: 0 20px;
}
.newCart-product-list table {
  width: 65%;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}
.newCart-product-list tr {
  border-bottom: 2px solid #ececec;
  line-height: 2;
}
.newCart-product-list th {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.newCart-product-list td {
  text-align: left;
  align-items: center;
}
.newCart-product-list img {
  width: 100%;
  height: 3rem;
  margin: 10px 0px;
}
.newCart-product-list .delete-item {
  font-size: 20px;
  cursor: pointer;
}
.newCart-product-list .delete-item:hover {
  color: #a71e1e;
}
.newCart-product-list span {
  font-size: 20px;
  cursor: pointer;
}
.newCart-product-list .item-quantity span {
  margin: 0px 10px;
}
.cart_totals {
  border: 3px solid #ececec;
  text-align: left;
  padding: 30px;
  height: 18rem;
}
.cart_totals h2 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0;
  line-height: 1;
}
.cart_totals .shop_table {
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.cart_totals .shop_table th {
  vertical-align: middle;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: initial;
  line-height: 1.5;
  font-weight: 700;
}
.cart_totals .order-total td {
  color: rgb(57, 222, 57);
}
.wc-proceed-to-checkout {
  margin-top: 10px;
}
.checkout-button {
  background-color: #81d742;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.newCart-modal {
  width: 50%;
  margin: 10px;
  padding: 30px;
  background: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.newCart-modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.newCart-modal-buttons button {
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.newCart-modal-buttons .yes {
  background-color: #81d742;
  color: white;
}
.newCart-modal-buttons .no {
  background-color: #a71e1e;
  color: white;
}
.newCart-footer{
    margin-top: 10%;
}