.favourite-product {
  padding: 20px;
  background-color: #f9f9f9;
}

.favourite-product h2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: #ff6347;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #ff6347;
  display: inline-block;
  padding-bottom: 8px;
}

.favourite-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: stretch;
}

.favourite-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* DÃ£n Ä‘á»u ná»™i dung trÃªn dÆ°á»›i */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  min-height: 300px; /* Chiá»u cao tá»‘i thiá»ƒu cá»§a má»¥c */
  position: relative;
  cursor: pointer;
}

.favourite-item:hover {
  transform: scale(1.05); /* PhÃ³ng to nháº¹ */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* TÄƒng Ä‘á»™ ná»•i báº­t */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.favourite-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.favourite-item h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.favourite-item p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e5533d;
  cursor: pointer;
}