.userorder-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.userorder-search input{
    height: 35px;
    width: 100%;
    padding-left: 50px;
    font-size: 14px;
}
.userorder-search .search-icon{
    position: absolute;
    margin-right: 60rem;
}
.userorder-search .search-icon-times{
    position: absolute;
    margin-left: 60rem;
    cursor: pointer;
}