.checkout{
    background-color: #F3F4F6;
    height: fit-content;
    width: 100%;
    padding-top: 9%;
}
.checkout-container{
    padding: 10px 30px;
}
.checkout-container .back-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #1250dc;
    margin-bottom: 10px;
    margin-left: 10px;
}
.checkout-container .back-cart p{
    cursor: pointer;
}
.checkout-container .back-cart:hover{
    transition: 0.3s ease-in-out;
}
.checkout-container .content{
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 2%;
}
.checkout-container .left-handside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}