.flash-sale {
  padding: 20px;
  background-color: #f9f9f9;
  overflow-x: hidden; 
  position: relative;
}

.flash-sale h2 {
  text-align: center;
  margin-bottom: 20px;
}

.flash-sale-carousel {
  display: flex; 
  gap: 20px; 
  overflow-x: auto; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  white-space: nowrap; 
}

.flash-sale-item {
  flex: 0 0 calc(20% - 20px); 
  box-sizing: border-box;
  display: inline-block; 
  border: 1px solid #ddd; /* Viền */
  border-radius: 8px; /* Bo góc */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #333;
}


.flash-sale-item:hover {
  transform: scale(1.1); /* Phóng to khi hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.flash-sale-carousel::-webkit-scrollbar {
  display: none;
}
