.menu-SidebarHKC li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.menu-SidebarHKC li a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-SidebarHKC {
    margin-right: 10px;
    font-size: 1.2em;
}

.menu-SidebarHKC li a:hover {
    background-color: #c5b292;
    color: #74aa50;
}
