.custom-google-btn{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}

.custom-google-btn i{
    font-size: 33px;
    margin-left: 10px;
    padding-top: 10px;
}
.custom-google-btn h4{
    color: black;
    margin-right: 10px;
}
.custom-google-btn:hover{
    background: rgb(219, 218, 218);
}