.location-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.add-location-btn {
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #df2323;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.add-location-btn:hover {
  background-color: #e43e3e;
}

.location-list {
  list-style: none;
  padding: 0;
}
.location-container h2 {
  font-size: 1.5rem; 
  font-weight: bold;
}
.add-location-btn {
  font-size: 1rem;
}

.location-container-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.location-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.location-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 50%; 
  width: 36px;  
  height: 36px; 
  display: flex;
  justify-content: center;  
  align-items: center;  
  background-color: #ddd;
}
.location-icon.default {
  background-color:  #f3d3d3;  
  color: rgb(226, 38, 38); 
}



.location-details {
  display: flex;
  flex-direction: column;
}

.location-name {
  margin: 0;
  line-height: 1.5;
}

.name-bold {
  font-weight: bold;
}

.default-badge {
  margin-left: 8px;
  font-size: 12px;
  color: red;
  background-color: #f3d3d3;
  border: 1px solid red;
  border-radius: 15px;
  padding: 4px 13px;
}

.location-address {
  margin: 0;
  color: #666;
  text-align: left;
}

.location-actions {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: none;
  border: none;
  color: #e21203;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn:hover {
  text-decoration: underline;
}

.delete-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  text-decoration: underline;
}
